{% extends "base.html" %}
{% block header %}
<!-- Banner -->
<section id="banner">
	<header>
		<h2>Welcome to My Portfolio!</h2>
		<p>A big place for a not-so-big guy</p>
	</header>
</section>

<!-- Intro -->
<section id="intro" class="container">
	<div class="row">
		<div class="col-4 col-12-medium">
			<section class="first">
				<i class="icon solid featured fa-cog"></i>
				<header>
					<h2>Systems Engineer</h2>
					<h3>(4 years)</h3>
				</header>
				<p>After two years as a Systems Engineer on multiple projects I've seen a lot.
				Through progress meetings, product testing, design reviews, integration and all the required documentation,
				I've gotten experience along the entire development cycle. With me on your team, your project is sure to
				reach launch!</p>
			</section>
		</div>
		<div class="col-4 col-12-medium">
			<section class="middle">
				<i class="icon solid featured alt fa-code"></i>
				<header>
					<h2>Software Developer</h2>
					<h3>(2 years)</h3>
				</header>
				<p>From MATLAB and Python to FORTRAN and C++, I've experienced the highs and lows of programming:
				creating numerous MATLAB simulations; webapps and chat bots in Python; satellite tracking systems
				in LabVIEW; and computer vision algorithms in C++. With all that and more in my tool belt I'm itching
				to do so much more!</p>
			</section>
		</div>
		<div class="col-4 col-12-medium">
			<section class="last">
				<i class="icon solid featured alt2 fa-star"></i>
				<header>
					<h2>Tempus adipiscing</h2>
				</header>
				<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
			</section>
		</div>
	</div>
	<footer>
		<ul class="actions">
			<li><a href="#" class="button large">Get Started</a></li>
			<li><a href="#" class="button alt large">Learn More</a></li>
		</ul>
	</footer>
</section>
{% endblock %}

{% block content %}

<!-- Main -->
<section id="main">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<!-- Portfolio -->
				<section>
					<header class="major">
						<h2>My Portfolio</h2>
					</header>
					<div class="row">
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="static/images/pic02.jpg" alt="" /></a>
								<header>
									<h3>ESSENCE Satellite Mission</h3>
								</header>
								<p>A satellite mission slated to launch in 2023. As a systems engineer on this mission,
								I worked on various important documentation important to the design review process.
								Assembly, integration and testing plans, system failure analysis, PCB design and more.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button alt">Find out more</a></li>
									</ul>
								</footer>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="static/images/pic03.jpg" alt="" /></a>
								<header>
									<h3>LabVIEW Satellite Tracker</h3>
								</header>
								<p>Using LabVIEW, and with some testing done in MATLAB and Python, I created an application
								which tracks satellites and generates pointing information for them. During this project I
								made use of my strong background in mathematics, physics and spatial coordinate systems
								to create an orbit propagator as well as multiple coordinate frame transformations.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button alt">Find out more</a></li>
									</ul>
								</footer>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="static/images/pic04.jpg" alt="" /></a>
								<header>
									<h3>SINCSat Satellite Mission</h3>
								</header>
								<p>A theoretical satellite mission which provides satellite-based high-speed internet
								to Canada's northern communities. As the team's project manager, I oversaw and
								helped in the creation of key mission documents such as the mission definition,
								requirement definition, subsystem documents and more.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button alt">Find out more</a></li>
									</ul>
								</footer>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="static/images/pic05.jpg" alt="" /></a>
								<header>
									<h3>Python Automated Message Bot</h3>
								</header>
								<p>A bot I created for a massively multiplayer online community with over 200 members.
								Featuring over 500 lines of Python, the bot accesses numerous paginated web APIs via GET and POST HTTP requests and
								searches for desired game-related information. Upon receipt of the desired information
								or upon community member command, the bot posts the desired information via message
								to the community. Creating the bot granted valuable experience in APIs, Python libraries,
								HTTP requests and more.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button alt">Find out more</a></li>
									</ul>
								</footer>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="static/images/pic06.jpg" alt="" /></a>
								<header>
									<h3>Portable Wind Power Generator</h3>
								</header>
								<p>A kite-based portable wind energy generator built for my university capstone project.
								During the project me and my team successfully achieved each deliverable of the waterfall
								cycle, despite the difficult circumstances created by COVID-19. By designing the generator circuit,
								performing tension simulations and sensor programming, the project helped develop my
								backgrounds in material science, software and electronics.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button alt">Find out more</a></li>
									</ul>
								</footer>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="static/images/pic07.jpg" alt="" /></a>
								<header>
									<h3>Thermal and Vibration Environment Testing</h3>
								</header>
								<p>Using Siemens NX's Space Systems Thermal simulation environment and the NASTRAN structural
								simulation suite, I created and carried out thermal and vibrational testing on a PCB. Using my
								proficiency in NX, I was able to simulate the thermal loads that the PCB would experience
								while orbiting planet Earth, as well as simulate the vibrational loads that the PCB would
								experience during launch into orbit. Afterwards, I verified the results by putting a real PCB
								through a thermal test using a TVAC chamber, and a vibration test using a shaker table. I
								then compiled my observations from the real life test into a 17 page report for review of the results.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button alt">Find out more</a></li>
									</ul>
								</footer>
							</section>
						</div>
					</div>
				</section>

			</div>
			<div class="col-12">

				<!-- Blog -->
				<section>
					<header class="major">
						<h2>The Blog</h2>
					</header>
					<div class="row">
						<div class="col-6 col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="static/images/pic08.jpg" alt="" /></a>
								<header>
									<h3>Magna tempus consequat</h3>
									<p>Posted 45 minutes ago</p>
								</header>
								<p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button icon solid fa-file-alt">Continue Reading</a></li>
										<li><a href="#" class="button alt icon solid fa-comment">33 comments</a></li>
									</ul>
								</footer>
							</section>
						</div>
						<div class="col-6 col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="static/images/pic09.jpg" alt="" /></a>
								<header>
									<h3>Aptent veroeros aliquam</h3>
									<p>Posted 45 minutes ago</p>
								</header>
								<p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button icon solid fa-file-alt">Continue Reading</a></li>
										<li><a href="#" class="button alt icon solid fa-comment">33 comments</a></li>
									</ul>
								</footer>
							</section>
						</div>
					</div>
				</section>

			</div>
		</div>
	</div>
</section>
{% endblock %}